<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subir Archivos CSV</title>
    <!-- Importar Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Milk Stgo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/lista">Proveedores</a></li>

        </ul>
    </div>
</nav>

<!-- Contenido principal -->
<div class="container mt-5">
    <h1>Subir Archivos CSV</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" th:object="${csvFiles}">
        <div class="form-group">
            <label for="acopios">Archivo Acopios</label>
            <input type="file" class="form-control-file" id="acopios" name="acopios" accept=".csv" required>
        </div>
        <div class="form-group">
            <label for="resultados">Archivo Resultados</label>
            <input type="file" class="form-control-file" id="resultados" name="resultados" accept=".csv" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn" disabled>Enviar</button>
    </form>
</div>

<!-- Importar jQuery y Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-0m/RJN9MYHQdUmEuW3J3SFz9TaZ1vUaCf5q1i9pjX6Kj7UhBtM6a8abt5VjVOJpd"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-zISQnIq7VXY9QghlC7V/zsTcmFp7BZNRk+jjKddV+sAbi53loRn38iDwbwsZe6dz"
        crossorigin="anonymous"></script>
</body>
</html>