<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<!-- Barra de navegación -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Milk Stgo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/lista">Proveedores</a></li>
            <li><a href="/importLab">Importar Resultados Laboratorio</a> </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Upload CSV File</h1>
    <form th:action="@{/upload-csv}" th:object="${csvForm}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="csvFile">Select CSV File:</label>
            <input type="file" class="form-control-file" id="csvFile" name="csvFile" accept=".csv">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
</body>
</html>
